.Rproj.user
*.Rproj
.Rhistory
.Rdata
.httr-oauth
*.DS_Store
.quarto
/Meta/
*.o
*.so
archive/
draft/
*.pptx
.outpack/
orderly_config.json
*.pdf
*.rds
*.csv
*.xlsx

# ---VVV--- added by orderly ---VVV----------------
# Don't manually edit content between these markers
.outpack
orderly_envir.yml
draft
archive
# ---^^^--- added by orderly ---^^^----------------
